<div class="cd-card">
    <h3>{{ uncd.title }}</h3>
    <p>Sortie le : {{uncd.year | date : "dd/MM/yyyy"}}</p>
    <p>Auteur / Groupe : {{ uncd.artist }}</p>
    <p>Genre : {{ uncd.genre }}</p>
    <p>Description : {{ uncd.description }}</p>
    <p>Au prix de : {{ uncd.price | currency:"EUR"}}</p>
    <img [src]="uncd.cover" [alt]="uncd.title" style="width: 20%;">
    <p>
        Disponible : <span [ngStyle]="{color: 'rgb(0,'+ uncd.quantity +',0)'}">{{ uncd.quantity }}</span>
        <button (click)="addCd()">Ajouter une unité</button>
    </p>
    <p *ngIf="idcd===undefined">
        <button routerLink="/cd/{{ uncd.id }}">Information</button>
    </p>
</div>